<div>
  <img
    class="img-fluid img-thumbnail border-1"
    src="assets/plants.png"
    alt="Vivero El Otoño"
  />
</div>
<hr class="border border-1 opacity-50" />

<div class="col-12 col-md-10 col-lg-8">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">#</th>
          <th scope="col">Nombre común</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Pata de vaca</td>
          <td>Interior</td>
          <td>Templado, cálido</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Chachafruto</td>
          <td>Exterior</td>
          <td>Todos</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3">
    <p class="m-0">Total plantas de interior: 4</p>
    <p>Total plantas de exterior: 2</p>
  </div>
</div>
